body {
    background-color: #f8efe4;
    box-sizing: border-box;
    line-height: 1.5em;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    background-color: white;
    margin: auto;
    text-align: left;
    padding: 20px 50px;
    width: 1200px;
}

ol,
ul,
{
    line-height: 0.8em;
}

h2 {
    color: #483d8b;
}

h3 {
    color: forestgreen;
    text-decoration: underline;
}

code {
    color: red;
    font-size: 18px;
}